body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.signup-form {
  padding: 4px;
  margin: 0 auto;
  
}

.button {
  font-size: 14px;
  margin: 5px 5px 5px 5px;
}

.textarea{
  width: 280px;
  font-size: 14px;
  padding: 5px;
  margin: 5px;
}

.anticon-like:hover {
  color: blue;
}