<!DOCTYPE html>
<html>

<head>
    <title>Create Post</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Create Post</h1>
    <br>
    <form action="/post" method="post">
        <table>
            <tr>
                <td>
                    <textarea type="content" name="content" > </textarea>
                </td>
            </tr>

            <tr>
                <td  align="right">
                    <input type="submit" value="Submit" /> </td>
            </tr>
    </form>
</body>

</html>